.confessBody {
    display:flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: left; 
    font-size: 1rem; 
}

.confessStatment {
    padding: 0.5rem;
    text-align: left;
    font-size: 1rem;
}  

.confessForm {
    padding: 1rem 5rem;
    text-align: right;
    font-size: 1rem;
    border: 0.1rem solid black;
}

.confessForm div{
    display:flex;
    flex-direction: column;
    justify-items: flex-start; 
}

.confessForm div div{
    margin: 0 0.5rem;    
    text-align: left;
}

.confessForm label {
    margin: 0 0.5rem;
    padding: 0;
    width: 25rem;
    text-align: left;
    font-size: 1.2rem;
    border: 0;
    font-weight: bold;
}

.confessForm input {
    margin: 0.1rem 0.5rem;
    padding: 0.1rem;
    width: 25rem;
    text-align: left;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 0.1rem solid black;
}

.confessForm select {
    margin: 0.1rem 0.5rem;
    padding: 0.1rem;
    width: 25rem;
    text-align: left;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 0.1rem solid black;
}


.confessForm textarea {
    margin: 0.5rem;
    padding: 0.1rem;
    width: 30rem;
    height: 15rem;
    text-align: left;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 0.1rem solid black;
}    

.confessForm button {
    margin: 0.5rem;
    padding: 0.1rem;
    width: 10rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}